
<button class="new-cadastro-button" mat-fab extended color="green" routerLink="/cadastro">
    <mat-icon>queue</mat-icon>
    Novo
</button>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.id}} </td>
      </ng-container>
    <ng-container matColumnDef="companyId">
      <th mat-header-cell *matHeaderCellDef> No. Inspeção</th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.companyId}} </td>
    </ng-container>
    <ng-container matColumnDef="brokerCode">
        <th mat-header-cell *matHeaderCellDef> brokerCode</th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.brokerCode}} </td>
      </ng-container>
    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef> productCode</th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.productCode}} </td>
    </ng-container>
    <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> productName</th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.productName}} </td>
      </ng-container>
    <ng-container matColumnDef="InspectionNumber">
      <th mat-header-cell *matHeaderCellDef> InspectionNumbero</th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.InspectionNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status</th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.reports[0].status}} </td>
      </ng-container>
    <ng-container matColumnDef="observation">
      <th mat-header-cell *matHeaderCellDef> observation</th>
      <td mat-cell *matCellDef="let dataSource"> {{dataSource.reports[0].observation}} </td>
    </ng-container>    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  
  